<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>

<h1>로그인 페이지</h1>
<hr/>
<!--
< form 태그 >
- 'form 태그'는, 화면을 바라보는 사용자가 '신규 회원가입을 위한 본인 정보 입력'과 같이,
  사용자가 데이터를 입력할 수 있는 '폼(형식)'을 만들어 주는 태그.
- form 태그 안에 각종 html코드들을 넣어서, 그 구체적인 형식을 만들어주는 것임.
-->
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username을 입력하세요"/><br/>
    <input type="password" name="password" placeholder="Password을 입력하세요"/><br/>
    <button>로그인</button>
</form>

<!--
# '<a>태그'
- '앵커 태그'. 웹페이지에서 다른 페이지로 이동할 수 있는 하이퍼링크를 생성하는 데 사용됨.

# 'href 속성'
- '<a>태그의 내부'에 위치하며, 하이퍼링크의 목적지를 정의함.
  아래에서 "/joinForm"은 상대 경로로 지정된 URL로, 현재 웹 페이지와 동일한 도메인 내에서 '/joinForm'이라는 URL 링크로
  이동하게 됨. 따라서, 사용자가 이 '회원가입을 아직 하지 않으셨나요?'라는 파랑색 링크를 클릭하면,
  사용자를 URL 경로 'localhost:8080/joinForm'로 보냄.
-->
<a href="/joinForm">회원가입을 아직 하지 않으셨나요?</a>


</body>
</html>